## Itertools

In [4]:
from itertools import groupby
things = [("animal", "bear"), ("animal", "duck"), ("plant", "cactus"),  ("vehicle", "speed boat"), ("vehicle", "school bus")]
for key, group in groupby(things, lambda x: x[0]):
    for thing in group:
        print("A %s is a %s." % (thing[1], key))

A bear is a animal.
A duck is a animal.
A cactus is a plant.
A speed boat is a vehicle.
A school bus is a vehicle.

In [11]:
from itertools import groupby
from operator import itemgetter

things = [("animal", "bear"), ("animal", "duck"), ("plant", "cactus"),  ("vehicle", "speed boat"), ("vehicle", "school bus")]
for key, group in groupby(things, key=lambda item: item[0]): #lambda x: x[0]
    print(key, list(group))

animal [('animal', 'bear'), ('animal', 'duck')]
plant [('plant', 'cactus')]
vehicle [('vehicle', 'speed boat'), ('vehicle', 'school bus')]

In [16]:
import pandas as pd

df_elem=pd.DataFrame([['animal', 'bear'], ['animal', 'duck'],['plant', 'cactus'],['vehicle', 'speed boat'],['vehicle','school bus']],
                columns = ['type', 'elem'])

In [47]:
df_elem

      type        elem
0   animal        bear
1   animal        duck
2    plant      cactus
3  vehicle  speed boat
4  vehicle  school bus

In [28]:
def uniter(x):
    return x+'555555555'

In [29]:
df_elem.apply(uniter)

               type                 elem
0   animal555555555        bear555555555
1   animal555555555        duck555555555
2    plant555555555      cactus555555555
3  vehicle555555555  speed boat555555555
4  vehicle555555555  school bus555555555

In [51]:
from itertools import groupby
from operator import itemgetter
 
df_elem.apply(groupby, key=itemgetter('type')) #key=lambda each: each['country']

type    <itertools.groupby object at 0x0000027D8C8CF780>
elem    <itertools.groupby object at 0x0000027D8C8CF990>
dtype: object

In [39]:
df_elem.apply(groupby, key=itemgetter('type'))

type    <itertools.groupby object at 0x0000027D8C8C4780>
elem    <itertools.groupby object at 0x0000027D8C8C4830>
dtype: object

In [57]:
df_elem.apply(groupby, key=itemgetter('type'))[0].map(itergetter(0))

AttributeError: 'itertools.groupby' object has no attribute 'map'

In [61]:
adict = {'a': 1, 'b': 1, 'c': 5, 'd':5}

In [66]:
groupby(adict)

In [73]:
from operator import itemgetter

for i in groupby(adict, key=itemgetter(0)):
    print(i)

('a', <itertools._grouper object at 0x0000027D8F2E45F8>)
('b', <itertools._grouper object at 0x0000027D8C67EB38>)
('c', <itertools._grouper object at 0x0000027D8C67DAC8>)
('d', <itertools._grouper object at 0x0000027D8C67EB38>)

In [ ]:
AbaCa
AcaBa

In [ ]:
len(list(set(list(str[0])) ^ set(list(str[1]))))

In [77]:
len(set(list('AbaCa')) - set(list('AcaBa')))

2

In [75]:
set(list('AcaBa'))

{'A', 'B', 'a', 'c'}

## Простой python

In [ ]:
# https://ru.hexlet.io/courses/advanced_python/lessons/python-func-one/theory_unit

### map

In [80]:
func = lambda el1, el2: el1 + el2

# python 2
list(map(func, [1, 2], [3, 4, 5]))

[4, 6]

In [86]:
dict(map(lambda *args: args, [1, 2], [3, 4]))

{1: 3, 2: 4}

In [117]:
list1 = [7, 2, 3, 10, 12]
list2 = [-1, 1, -5, 4, 6]
list(map(lambda x, y, z: x*y*z, list1, list2, list2))

[7, 2, 75, 160, 432]

In [118]:
list(zip(list1, list2))

[(7, -1), (2, 1), (3, -5), (10, 4), (12, 6)]

In [119]:
[x*y for x, y in zip(list1, list2)]

[-7, 2, -15, 40, 72]

### filter

In [121]:
numbers = [10, 4, 2, -1, 6]
list(filter(lambda x: x < 5, numbers))   # В результат попадают только те элементы x, для которых x < 5 истинно

[4, 2, -1]

In [124]:
[x for x in [10, 4, 2, -1, 6] if x < 5]

[4, 2, -1]

### apply

In [81]:
func = lambda el1, el2: el1 + el2

# python 2
list(apply(func, [1, 2], [3, 4, 5]))

NameError: name 'apply' is not defined

In [126]:
def f(x, y, z, a=None, b=None):
    print(x, y, z, a, b)

apply(f, [1, 2, 3], {'a': 4, 'b': 5})

NameError: name 'apply' is not defined

In [ ]:
# В Python 3 вместо функции apply() следует использовать специальный синтаксис:

In [127]:
def f(x, y, z, a=None, b=None):
    print(x, y, z, a, b)

f(*[1, 2, 3], **{'a': 4, 'b': 5})

1 2 3 4 5

In [133]:
[x for x in *[1, 2, 3]]

SyntaxError: invalid syntax (<ipython-input-133-70bb3b7bfbab>, line 1)

In [156]:
def f(a=None, b=None, c=None):
    print(a, b, c)

#f(*[1, 2, 3])
f(**{'a': 4, 'b': 5, 'c':7})

4 5 7

### lambda внутри функции

In [73]:
def mod_checker(x, mod=0):
    return(lambda y: y%x == mod)

In [74]:
mod_3 = mod_checker(3)

print(mod_3(3)) # True
print(mod_3(4)) # False

True
False

In [75]:
mod_3_1 = mod_checker(3, 1)
print(mod_3_1(4)) # True

True

## Сокращение циклов (List Comprehensions)

In [95]:
end=[]
for x in range(10):
    if x % 2 == 0:
        end.append(x * 2)
    else:
        end.append(x + 1)
print(end)

[0, 2, 4, 4, 8, 6, 12, 8, 16, 10]

In [99]:
[x * 2 if (x % 2 == 0) else x + 1  for x in range(10)]

[0, 2, 4, 4, 8, 6, 12, 8, 16, 10]

In [158]:
sum([2, 3])

5

In [181]:
def calc(x, y):
    return x**3 + y**2

In [171]:
type(calc)

function

In [186]:
calc(y=4, x=3)

43

In [102]:
calc = lambda x, y: x**2 + y**2

## Декораторы

In [ ]:
#https://devpractice.ru/python-lesson-19-decorators/
@staticmethod

In [71]:
def first_test():
    print("Test function 1")
def second_test():
    print("Test function 2")

In [72]:
first_test()

Test function 1

In [62]:
def simple_decore(fn):
    def wrapper():
        print("Run function")
        fn()
        print("Stop function")
    return wrapper

In [64]:
first_test_wrapped = simple_decore(first_test)
second_test_wrapped = simple_decore(second_test)

In [66]:
first_test()

second_test()

Test function 1
Test function 2

In [69]:
first_test_wrapped()
print('*******')
first_test_wrapped()

Run function
Test function 1
Stop function
*******
Run function
Test function 1
Stop function

In [79]:
@simple_decore
def first_test():
    print("Test function 1")
    
first_test()

Run function
Test function 1
Stop function

### Задачка про площадь

## Итераторы

In [95]:
lst = [1,2,3,4]

In [89]:
iterator = iter(lst)

In [94]:
print(next(iterator))

StopIteration:

In [96]:
#Имитация работы цикла
lst = [1,2,3,4]

for i in lst:
    print(i)

1
2
3
4

In [97]:
iterator = iter(lst)

while True:
    try:
        i = next(iterator)
        print(i)
    except StopIteration:
        break

1
2
3
4

## Генератор

In [ ]:
#Генераторы - это удобная штука для создания итераторов
#Yield это ключевое слово, которое используется примерно как return — отличие в том, что функция вернёт генератор.

In [102]:
from random import random

def random_generator(k):
    for i in range(k):
        yield random()
        
gen = random_generator(3)   
for i in gen:
    print(i)

0.9029429133725013
0.7101382858990647
0.5328763726602634

In [105]:
def random_generator(k):
    for i in range(k):
        yield i*2
        
gen = random_generator(4)   
for i in gen:
    print(i)

0
2
4
6

In [106]:
gen

In [125]:
def number_generator(max_n):
    for num in range(max_n):
        #print(num)
        if (num >=3) & (num % 3==0):
            yield num
            #return num
        
gen = number_generator(16)
for i in gen:
    pass
    print('**', i)

** 3

In [128]:
n = input("n=")
a = range(n+1)
a[1] = 0
lst = []

i = 2
while i <= n:
    if a[i] != 0:
        lst.append(a[i])
        for j in range(i, n+1, i):
            a[j] = 0
    i += 1
print(lst)

n=100

TypeError: can only concatenate str (not "int") to str

In [5]:
import itertools
import math

def primes():
    a = 1
    while True:
        a += 1
        if math.sin((math.factorial(a - 1)+1)%a) == 0: 
            yield a 

print(list(itertools.takewhile(lambda x: x <= 31, primes())))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

# №1

In [12]:
#Методы считывания строки

In [ ]:
[line for line in open(path)]
iterator = (line for line in open(path))

In [ ]:
Функция на вход принимает путь до csv файла (строки разделены \n, разделитель элементов для простоты "точка с запятой") 
и название столбца. Нужно по заданному полю просуммировать все значения, которые больше 0. 
Никаких pandas и библиотеки csv. Разбирай сам поток символов из файла

In [71]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame(np.array([['Oleg', 40000, 3], ['Julia', 50000, 1], ['Ivan', 60000, 2], ['Anna', 25000, 1]]), columns=['Name', 'Salary', 'Experience'])
df2.to_csv("input.csv", sep=';', index=False)

In [72]:
df2

    Name Salary Experience
0   Oleg  40000          3
1  Julia  50000          1
2   Ivan  60000          2
3   Anna  25000          1

In [351]:
os.getcwd()

'C:\\Users\\SapronovYD\\Documents\\Jupyter save'

In [883]:
file = open('input.csv', 'r')
data = file.read().splitlines()
file.close()
a = [i.split(';') for i in data]
a

[['Name', 'Salary', 'Experience'],
 ['Oleg', '40000', '3'],
 ['Julia', '50000', '1'],
 ['Ivan', '60000', '2'],
 ['Anna', '25000', '1']]

In [569]:
'd d'.strip()

'd d'

In [578]:
import os

def file_open_close(name):
    file = open(name, 'r')
    data = file.read().splitlines()
    file.close()
    return data
    

def stream_generator(lst):
    for i in range(1, len(lst)):
        yield lst[i]

def sum_feature_values(path, column):
    data = file_open_close(path+'\\input.csv')
    a = [i.split(';') for i in data]
    index_column = a[0].index('Salary')
    summ = 0

    for row in stream_generator(a):
        if len(row[index_column]) > 0: #int(row[index_column]) > 0 and 
            summ += int(row[index_column])
       
    return summ

In [586]:
sum_feature_values('C:\\Users\\SapronovYD\\Documents\\Jupyter save\\input.csv', 'Salary')

[['Name', 'Salary', 'Experience'], ['Oleg', '40000', '3'], ['Julia', '50000', '1'], ['Ivan', '60000', '2'], ['Anna', '25000', '1'], ['Boris', '', '5']]
{'Name': [], 'Salary': ['40000', '50000', '60000', '25000'], 'Experience': []}
['40000', '50000', '60000', '25000']

150000

In [587]:
os.getcwd()

'C:\\Users\\SapronovYD\\Documents\\Jupyter save'

In [585]:
def sum_feature_values(path, column):
    data = file_open_close(path+'\\input.csv')
    a = [i.split(';') for i in data]
    index_column = a[0].index(column)
    summ = 0
    print(a)
      
    
    my_dict = {}
    for i in a[0]:
            my_dict[i] = []
            
    #print(my_dict)        

    for row in stream_generator(a): 
        if len(row[index_column]) > 0:
            my_dict[column].append(row[index_column])
    
    print(my_dict)
    print(my_dict[column])
    #summ = my_dict[column].map(int)
    summ = sum(list(filter(lambda x:x > 25000, list(map(int, my_dict[column])))))

       
    return summ

# №1.2

In [ ]:
#Рабочее решение

def sum_feature_values(path, column, min_value):
    iterator = open(path)
    index_column = next(iterator).rstrip().split(';').index(column)
    summ = 0
    summ = reduce(lambda a, b: a + b, map(int, filter(lambda x: int(x) > min_value, filter(lambda x: x.isdigit(), \
                [line.rstrip().split(';')[index_column] for line in iterator])))) 
    return summ

In [ ]:
#Либо отдельно выделенный итератор

def sum_feature_values(path, column, min_value):
    iterator = open(path)
    index_column = next(iterator).rstrip().split(';').index(column)
    summ = reduce(lambda a, b: a + b, map(int, filter(lambda x: int(x) > min_value, filter(lambda x: x.isdigit(), \
                [line.rstrip().split(';')[index_column] for line in iterator])))) 
    return summ

In [ ]:

def sum_feature_values(path, column, min_value=0):    
    with open(path, 'r') as iterator:
        index_column = next(iterator).rstrip().split(';').index(column)      
        summ = sum(filter(lambda x: x >=min_value, map(lambda x: int(x.rstrip().split(';')[index_column]), iterator)))
        
    return summ

In [ ]:
#Лучший вариант
from operator import *

def sum_feature_values(path, column, min_value=0):    
    with open(path, 'r') as iterator:
        index_column = next(iterator).rstrip().split(';').index(column)                     
        summ = sum(
               filter(lambda x: x >= min_value, 
               map(int, 
               map(itemgetter(index_column),
               map(methodcaller('split', ';'),
               map(methodcaller('strip'), iterator))))))
        
    return summ

In [613]:
stream_generator([40,20,58,14])

In [612]:
def stream_generator(lst):
    for i in range(len(lst)):
        yield lst[i]

In [721]:
open(path)

In [847]:
f = open(path)

In [826]:
f

In [844]:
iter(f)

In [877]:
list(map(sum, [1, 2, 3, 4]))

TypeError: 'int' object is not iterable

In [69]:
itemgetter(5)('ABCDEFG')

NameError: name 'itemgetter' is not defined

In [73]:
df2

    Name Salary Experience
0   Oleg  40000          3
1  Julia  50000          1
2   Ivan  60000          2
3   Anna  25000          1

In [259]:
path = 'C:\\Users\\SapronovYD\\Documents\\Jupyter save\\input.csv'
sum_feature_values(path, 'Salary', 30000)

150000

In [140]:
#reduce(lambda a,b: a + b, [1,2,3])

reduce(mul, [1, 2, 4])
list(map(mul, [1, 2, 4]))

TypeError: mul expected 2 arguments, got 1

# methodcaller и не только

In [2]:
from operator import *

In [3]:
ss = 'abcd;cse '

caller = methodcaller('split', ';')
caller(ss)
#caller = methodcaller('strip')
#caller(ss)

['abcd', 'cse ']

In [6]:
import operator
class Strr():
    def f1(self):
        return self

    def f2(self, x):
        return x + 2

c = Strr()

In [10]:
id(c)

1658983701024

In [7]:
caller = operator.methodcaller("f1")
print(caller(c))

#caller = operator.methodcaller("f2", 3)
#print(caller(c))

<__main__.Strr object at 0x0000018243225A20>

In [182]:
c.f1()

50

In [97]:
from functools import reduce
from operator import *
reduce(add, range(100)) # (3)

#sum(range(100)) # (4)

4950

In [105]:
from operator import *

a = 5
b = 5
print

print('a =', a)
print('b =', b)
for func in (lt, le, eq, ne, ge, gt):
    print('%s(a, b):' % func.__name__, func(a, b))

a = 5
b = 5
lt(a, b): False
le(a, b): True
eq(a, b): True
ne(a, b): False
ge(a, b): True
gt(a, b): False

In [246]:
import operator

class Item:
    def __init__(self, name, price, qty):
        self.name = name
        self.price = price
        self.qty = qty

    def total_cost(self):
        return self.price * self.qty

    def __repr__(self):
        return f'({self.name} ${self.price} x {self.qty} = ${self.total_cost()})'


items = [
    Item("iPhone", 999, 5),
    Item("iMac", 2999, 2),
    Item("iPad", 599, 11)
]

def print_items(title, item_list):
    print(title)
    print(*item_list, sep=', ', end='\n\n')


print_items('Original:', items)

items_by_price = sorted(items, key=operator.attrgetter('price'))
print_items('Sorted by price:', items_by_price)

items_by_total_cost = sorted(items, key=operator.methodcaller('total_cost'))
print_items('Sorted by total cost:', items_by_total_cost)

Original:
(iPhone $999 x 5 = $4995), (iMac $2999 x 2 = $5998), (iPad $599 x 11 = $6589)

Sorted by price:
(iPad $599 x 11 = $6589), (iPhone $999 x 5 = $4995), (iMac $2999 x 2 = $5998)

Sorted by total cost:
(iPhone $999 x 5 = $4995), (iMac $2999 x 2 = $5998), (iPad $599 x 11 = $6589)

In [15]:
# Cities.
names = ["San Jose", "San Francisco", "Santa Fe", "Houston"]

# Sum result of map.
count = filter(lambda s: s.startswith("San"), names)

# Count of cities starting with San.
print(list(count))

['San Jose', 'San Francisco', 'Santa Fe']

In [16]:
# Cities.
names = [40000, 50000, 60000]

sum(filter(lambda s: s > 50000, names))

60000

In [727]:
f

In [720]:
iter(f)

In [943]:
def multiply2(x):
    print('ffffff')
    return x * 2
    
map(multiply2, [1, 2, 3, 4])  # Вернет [2, 4, 6, 8]

In [651]:
(Counter(stat) for stat in ['monday', 'tuesday', 'wednesday'])

In [661]:
reduce(lambda a, b: a + b, [1, 2, 3, 4])

10

In [318]:
aa = a[1]

for i in range(1, len(a)-1):
    
    aa = list(zip(aa, a[i+1]))
    
    print('***')
    print(aa)

***
[('Oleg', 'Julia'), ('40000', '50000'), ('3', '1')]
***
[(('Oleg', 'Julia'), 'Ivan'), (('40000', '50000'), '60000'), (('3', '1'), '2')]
***
[((('Oleg', 'Julia'), 'Ivan'), 'Anna'), ((('40000', '50000'), '60000'), '25000'), ((('3', '1'), '2'), '1')]

## №2

In [ ]:
Сложение зарплат по группам

In [35]:
import pandas as pd
import numpy as np

dt = [['Oleg', 40000, 3], ['Julia', 50000, 1], ['Ivan', 60000, 2], ['Anna', 25000, 1], ['Ivan', 40000, 3], ['Oleg', 25000, 1], ['Julia', 60000, 2], ['Ivan', 70000, 1]]
df3 = pd.DataFrame(dt, columns=['Name', 'Salary', 'Experience'])
df3.sort_values('Name').to_csv("input3.csv", sep=';', index=False)

In [34]:
df3.sort_values('Name')

    Name  Salary  Experience
3   Anna   25000           1
2   Ivan   60000           2
4   Ivan   40000           3
7   Ivan   70000           1
1  Julia   50000           1
6  Julia   60000           2
0   Oleg   40000           3
5   Oleg   25000           1

In [ ]:
# Решение 
from operator import *
from itertools import groupby
from statistics import mean

def sum_feature_values(path, column):  
    mean_salary = {}
    with open(path, 'r') as salary_file:
        index_column = next(salary_file).rstrip().split(';').index(column)                               
        salaries = list(   
                   map(itemgetter(0, 1),
                   map(lambda x: x.rstrip().split(';'), salary_file)))
        
        for key, group in groupby(salaries, itemgetter(0)): #lambda x: x[0]
            mean_salary[key] = mean(list(map(int, map(itemgetter(1), group))))       
        
    return mean_salary

In [ ]:
# Решение №2
from operator import *
from itertools import groupby
from statistics import mean

def salary_getter(lst):
    new_lst = []
    for i in list(lst):
        new_lst.append(int(i[1]))
    return mean(new_lst) 
       

def sum_feature_values(path, column):  
    mean_salary = {}
    with open(path, 'r') as salary_file:
        index_column = next(salary_file).rstrip().split(';').index(column)                               
        salaries = list(map(salary_getter, 
                   map(list,
                   map(itemgetter(1),
                   groupby( 
                   map(itemgetter(0, 1),
                   map(lambda x: x.rstrip().split(';'), salary_file)),
                          key=itemgetter(0)))))) 
        
    return salaries

In [36]:
with open('input3.csv', 'r') as file:
    data = file.read().splitlines()  
    
print(data)

['Name;Salary;Experience', 'Anna;25000;1', 'Ivan;60000;2', 'Ivan;40000;3', 'Ivan;70000;1', 'Julia;50000;1', 'Julia;60000;2', 'Oleg;40000;3', 'Oleg;25000;1']

In [603]:
path = 'C:\\Users\\SapronovYD\\Documents\\Jupyter save\\input3.csv'
sum_feature_values(path, 'Salary')

[25000, 56666.666666666664, 55000, 32500]

In [602]:
from operator import *
from itertools import groupby
from statistics import mean

def to_int(lst, index_column):
    lst = list(lst)
    lst[1] = int(lst[index_column])
    return lst

def sum_feature_values(path, column):  
    mean_salary = {}
    with open(path, 'r') as salary_file:
        index_column = next(salary_file).rstrip().split(';').index(column)                               
        salaries = list(
                   map(lambda x: mean(x), 
                   map(itemgetter(1), 
                   map(lambda x: list(zip(*x)), 
                   map(list,         
                   map(itemgetter(1),
                   groupby( 
                   map(lambda x: to_int(x, index_column),    
                   map(itemgetter(0, 1),
                   map(lambda x: x.rstrip().split(';'), salary_file))),
                          key=itemgetter(0))))))))
        
    return salaries

In [ ]:
from operator import *
from itertools import groupby
from statistics import mean

def to_int(lst):
    lst = list(lst)
    lst[1] = int(lst[1])
    return lst

def sum_feature_values(path, column):  
    mean_salary = {}
    with open(path, 'r') as salary_file:
        index_column = next(salary_file).rstrip().split(';').index(column)                               
        sal_iter = map(itemgetter(1),
                   groupby( 
                   map(to_int,    
                   map(itemgetter(0, 1),
                   map(lambda x: x.rstrip().split(';'), salary_file))),
                          key=itemgetter(0)))
        
        

        #print(list(next(sal_iter)))
    
        salaries = list(map(lambda x: mean(x), map(itemgetter(1), map(lambda x: list(zip(*x)), map(list, sal_iter)))))
        
        #salaries = list(map(itemgetter(0), map(list, sal_iter)))
        
        #salaries = map(salary_getter, map(list, sal_iter)) 
        # sss = list(map(lambda x: int(x), salaries))
        
                
    return salaries

In [325]:
list(ss)

ValueError: I/O operation on closed file.

In [529]:
list(('40000', '25000'))

['40000', '25000']

In [374]:
list(zip([('Ivan', '60000'), ('Ivan', '40000')]))

[(('Ivan', '60000'),), (('Ivan', '40000'),)]

In [ ]:
[('Ivan', '60000'), ('Ivan', '40000'), ('Ivan', '70000')]

In [437]:
list(zip(*[('Ivan', '60000'), ('Ivan', '40000'), ('Ivan', '70000')]))

[('Ivan', 'Ivan', 'Ivan'), ('60000', '40000', '70000')]

In [420]:
list(zip(*[[('Anna', '25000')], [('Ivan', '60000'), ('Ivan', '40000'), ('Ivan', '70000')], [('Julia', '50000'), ('Julia', '60000')], [('Oleg', '40000'), ('Oleg', '25000')]]))

[(('Anna', '25000'), ('Ivan', '60000'), ('Julia', '50000'), ('Oleg', '40000'))]

In [407]:
[[('Anna', '25000')], [('Ivan', '60000'), ('Ivan', '40000'), ('Ivan', '70000')]][0][0]

('Anna', '25000')

In [73]:
salaries = [('Anna', '25000'), ('Ivan', '60000'), ('Ivan', '40000'), ('Ivan', '70000'), ('Julia', '50000'), ('Julia', '60000'), ('Oleg', '40000'), ('Oleg', '25000')]

In [76]:
def salary_lst(lst):
    for i in lst:
        yield i

In [124]:
salary_file = salary_lst(salaries)

In [133]:
next(salary_file)

StopIteration:

In [134]:
salary_file = salary_lst(salaries)
for i in list(map(groupby, salary_file)):
    print(list(i))

[('Anna', <itertools._grouper object at 0x0000018248B616D8>), ('25000', <itertools._grouper object at 0x000001824931F668>)]
[('Ivan', <itertools._grouper object at 0x0000018248B616D8>), ('60000', <itertools._grouper object at 0x000001824931F668>)]
[('Ivan', <itertools._grouper object at 0x0000018248B616D8>), ('40000', <itertools._grouper object at 0x000001824931F668>)]
[('Ivan', <itertools._grouper object at 0x0000018248B616D8>), ('70000', <itertools._grouper object at 0x000001824931F668>)]
[('Julia', <itertools._grouper object at 0x0000018248B616D8>), ('50000', <itertools._grouper object at 0x000001824931F668>)]
[('Julia', <itertools._grouper object at 0x0000018248B616D8>), ('60000', <itertools._grouper object at 0x000001824931F668>)]
[('Oleg', <itertools._grouper object at 0x0000018248B616D8>), ('40000', <itertools._grouper object at 0x000001824931F668>)]
[('Oleg', <itertools._grouper object at 0x0000018248B616D8>), ('25000', <itertools._grouper object at 0x000001824931F668>)]

In [105]:
salary_file = salary_lst(salaries)
for key, group in groupby(salary_file, itemgetter(0)): #lambda x: x[0]
            print(key, group)
            mean_salary[key] = mean(list(map(int, map(itemgetter(1), group))))

Anna <itertools._grouper object at 0x0000018248B612B0>
Ivan <itertools._grouper object at 0x000001824736A2E8>
Julia <itertools._grouper object at 0x000001824736A588>
Oleg <itertools._grouper object at 0x000001824736A2E8>

In [106]:
mean_salary

{'Anna': 25000, 'Ivan': 56666.666666666664, 'Julia': 55000, 'Oleg': 32500}

In [123]:
groupby?

In [ ]:
в groupby надо передавать весь список кортежей сразу. Так как получая по одному, он и будет делать группировку по одному

In [37]:
from itertools import groupby

things = [("animal", "bear"), ("animal", "duck"), ("plant", "cactus"), ("vehicle", "speed boat"), ("vehicle", "school bus")]

for key, group in groupby(things, lambda x: x[0]):
    for thing in group:
        print("A %s is a %s." % (thing[1], key))

A bear is a animal.
A duck is a animal.
A cactus is a plant.
A speed boat is a vehicle.
A school bus is a vehicle.

In [51]:
from itertools import groupby

things = [("Ivan", "30"), ("Ivan", "40"), ("Anna", "50"), ("Vova", "45"), ("Vova", "48")]

for key, group in groupby(things, itemgetter(0)): #lambda x: x[0]
    
    summ = sum(map(int, map(itemgetter(1), group)))
    print(summ)

    #for thing in group:
    #    print("A %s is a %s." % (thing[1], key))

70
50
93

In [50]:
summ

93

In [31]:
sys.stdin.read?

In [30]:
import sys

data = sys.stdin.read().splitlines()
print(sum(int(data)))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'